@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'sf-mono.scss';

@import 'markdown.scss';

@config '../../tailwind.config.ts';

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(:not(.dark), :not(.dark) *));

@theme {
  --color-background: #f7f6f0;
  --color-sidebar: #fffdf5;
  --color-border: #e0ddd0;

  --color-primary: #4e0a49;
  --color-muted: #755573;

  --color-danger: #ff4d65;

  --color-blue: #73bfff;
  --color-purple: #b283ff;
  --color-pink: #ff82bb;

  --color-accent: #ff5ca1;

  --color-btn-pri-start: #73bfff;
  --color-btn-pri-end: #b283ff;
  --color-btn-pri-hover-start: #8cc7ff;
  --color-btn-pri-hover-end: #c09aff;
  --color-btn-pri-act-start: #6694e5;
  --color-btn-pri-act-end: #995ed6;

  --color-btn-sec-start: #ff82bb;
  --color-btn-sec-end: #ff5ca1;
  --color-btn-sec-hover-start: #ff9ccc;
  --color-btn-sec-hover-end: #ff7ba5;
  --color-btn-sec-act-start: #e6608e;
  --color-btn-sec-act-end: #d55282;

  --color-dialog: #fffdf5;

  --font-main: 'Manrope', sans-serif;
  --font-mono: 'SF Mono', monospace;
}

@layer theme {
  :root,
  :host {
    @variant dark {
      --color-background: #111115;
      --color-sidebar: #1e1e26;
      --color-border: #2a2a2a;

      --color-primary: #e0e0e0;
      --color-muted: #888888;

      --color-dialog: #1e1e26;
    }
  }
}

:root,
html,
body,
#app {
  @apply h-full;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid transparent;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #888 transparent;
}

*::-moz-scrollbar {
  width: 12px;
  height: 12px;
}

*::-moz-scrollbar-track {
  background: transparent;
}

*::-moz-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid transparent;
}
