@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SF Pro Rounded";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/SF-Pro/SF-Pro-Rounded-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "SF Pro Rounded";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/SF-Pro/SF-Pro-Rounded-Medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "SF Pro Rounded";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/SF-Pro/SF-Pro-Rounded-Semibold.woff2") format("woff2");
  }

  @font-face {
    font-family: "SF Pro Rounded";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/SF-Pro/SF-Pro-Rounded-Bold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Monaspace Neon";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Monaspace/MonaspaceNeon-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Monaspace Radon";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Monaspace/MonaspaceRadon-Regular.woff2") format("woff2");
  }
}

:root, html, body, #app {
  @apply h-full font-sf_pro_rounded;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid transparent;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #888 transparent;
}

*::-moz-scrollbar {
  width: 12px;
  height: 12px;
}

*::-moz-scrollbar-track {
  background: transparent;
}

*::-moz-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid transparent;
}