@tailwind base;
@tailwind components;
@tailwind utilities;

:root, html, body, #app {
  @apply h-full font-['SF_Pro_Rounded'];
}

@layer base {
  @font-face {
    font-family: "SF Pro Rounded";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/SF-Pro/SF-Pro-Rounded-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Monaspace Neon";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Monaspace/MonaspaceNeon-Regular.woff2") format("woff2");
  }
}